<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>VueJS: Componentes</title>
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- TODO: Cargar CSS Bootstrap (no es necesario el JS) -->
    </head>

    <body>

        <h1 id="autor">Autor: David Ortiz Espinosa</h1>

        <!-- https://vuejs.org/v2/guide/index.html -->
        <div id="app">
            <div class="jumbotron jumbotron-fluid">
                <h1 id="title">{{col.collection.title}}</h1>
            </div>
            <div>
                <div class="card-group" style="margin: 20px 10px;" v-for="item in col.collection.items">
                    <div v-if="toggleEditFormVisibility" is="item-data" v-bind:elemento="item"></div>
                    <div v-else is="edit-form" v-bind:elemento="item"></div>
                </div>
            </div>
        </div>



        <!-- Plantilla para el componente edit-form -->
        <script type="text/x-template" id="editForm">
                <div class="card">
                <div class="card-body">
                    <dl v-for="data in elemento.data">
                        <dt>{{data.prompt}}</dt>
                        <input v-if="data.prompt != 'Description' " v-model="data.value" type="text">
                        <textarea v-else v-model="data.value" type="text" ></textarea>
                    </dl>
                    <input type="button" v-on:click="closeForm" value="Editar" class="btn btn-primary">
                </div>
                </div>
        </script>



        <!-- Plantilla para el componente item-data -->
        <script type="text/x-template" id="itemData">
                <div class="card" >
                <div class="card-body">
                    <dl v-for="datos in elemento.data">
                        <dt>{{datos.prompt}}</dt>
                        <dd>{{datos.value}}</dd>
                    </dl>
                    <a v-bind:href="elemento.href" target="_blanck" class="btn btn-primary">Ver</a>
                    <input type="button" v-on:click="toggleEditFormVisibility(elemento)" value="Editar" class="btn">
                </div>
                </div>
        </script>


        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="js/script.js"></script>

    </body>

</html>
